<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Страница изменения книги</h1>
<div class="subtitle">/books/{id}/edit</div>

<form th:method="post"
      th:action="@{/books/{id}/edit(id=${bookId})}"
      th:object="${book}">

    <div class="form-row">
        <label for="title">Введите название книги:</label>
        <input id="title" type="text" th:field="*{title}">
        <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>

    <div class="form-row">
        <label for="author">Введите автора:</label>
        <input id="author" type="text" th:field="*{author}">
        <div class="error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    </div>

    <div class="form-row">
        <label for="year">Введите год:</label>
        <input id="year" type="number" th:field="*{year}">
        <div class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
    </div>

    <button type="submit">Редактировать!</button>
</form>

<br>
<a class="small-link" th:href="@{/books/{id}(id=${bookId})}">Назад к книге</a>

</body>
</html>